/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Common */
body {
    font-family: sans-serif;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    display: inline-block;
}
/* Utilities */
.flex {
    display: flex;
}

/* Layout */
.container {
    margin: 0 auto;
    width: 70%;
}
/* Header */
header {
    background-color: #FF6900;
    color: #FFFFFF;
    height: 50px;
}

.navigation {
    height: 100%;
    line-height: 50px;
}

.menu,
.icons {
    width: 20%;
    gap: 0.6rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.logo {
    width: 60%;
    justify-content: center;
    align-items: center;
}
.logo img {
    height: 25px;
}

.icons {
    justify-content: end;
}

/* Main */
.row {
    flex-wrap: wrap;
    margin: 2rem 0;
}

.col {
    width: calc(100% / 3 - (2rem / 3));
}

.middle {
    margin: 0 1rem;
}

/* Tipography */
.card {
    font-size: 0.7rem;
}
.name {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.offer {
    color: #FF0000;
    font-weight: bold;
}

.msrp {
    text-decoration: line-through;
}

/* Cards */
.card{
    position: relative;
}

.discount {
    position: absolute;
    left: 0;
    bottom: 70px;
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 3px 6px;
    font-weight: bold;
}

.green {
   position: absolute;
   left: 42px;
   bottom: 70px;
   background-color: #008000;
   color: #FFFFFF;
   padding: 3px 6px;
   font-weight: bold;
}

.wishlist {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #FFFFFF;
    color: #000000;
    padding: 8px;
    font-size: 1.1rem;
}

/* debug */
.six {
    left: 0;
}

/* Hover */
.menu li:hover,
.icons li:hover {
    border-bottom: 2px solid #FFFFFF;
}

.back-image {
    display: none;
}

.card:hover .front-image {
    display: none;
}

.card:hover .back-image {
    display: inline-block;
}

.wishlist:hover {
    color: #FF0000;
}